@use '../abstracts/abstracts';

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
	font-family: abstracts.$font-family;
}

body {
	font-size: 1.6rem;
	height: 100vh;
	margin: 0;
	background-image: -o-linear-gradient(
		left bottom,
		#d16ba5,
		#c777b9,
		#ba83ca,
		#aa8fd8,
		#9a9ae1,
		#8aa7ec,
		#79b3f4,
		#69bff8,
		#52cffe,
		#41dfff,
		#46eefa,
		#5ffbf1
	);
	background-image: -webkit-gradient(
		linear,
		left bottom, right top,
		from(#d16ba5),
		color-stop(#c777b9),
		color-stop(#ba83ca),
		color-stop(#aa8fd8),
		color-stop(#9a9ae1),
		color-stop(#8aa7ec),
		color-stop(#79b3f4),
		color-stop(#69bff8),
		color-stop(#52cffe),
		color-stop(#41dfff),
		color-stop(#46eefa),
		to(#5ffbf1)
	);
	background-image: linear-gradient(
		to right top,
		#d16ba5,
		#c777b9,
		#ba83ca,
		#aa8fd8,
		#9a9ae1,
		#8aa7ec,
		#79b3f4,
		#69bff8,
		#52cffe,
		#41dfff,
		#46eefa,
		#5ffbf1
	);
}

img {
	max-inline-size: 100%;
	block-size: auto;
}
