@use '../abstracts/abstracts';

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
	font-family: abstracts.$font-family;
}

body {
	font-size: 1.6rem;
	height: 100vh;
	margin: 0;
	background: rgb(174, 238, 180);
	background: -o-radial-gradient(
		circle,
		rgba(174, 238, 180, 1) 0%,
		rgba(148, 195, 233, 1) 100%
	);
	background: radial-gradient(
		circle,
		rgba(174, 238, 180, 1) 0%,
		rgba(148, 195, 233, 1) 100%
	);
}

img {
	max-inline-size: 100%;
	block-size: auto;
}
