.glassmorphism-effect {
	background: rgba(255, 255, 255, 0.1);
	-webkit-box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.37);
	        box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.37);
	-webkit-backdrop-filter: blur(4px);
	        backdrop-filter: blur(4px);
	border-radius: 16px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}
