@forward '../base/utilities';

.card,
.card__content {
	@extend .glassmorphism-effect;
}

.card {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	block-size: 10rem;
	inline-size: 100%;
	position: relative;
	-webkit-margin-after: 2rem;
	        margin-block-end: 2rem;

	&__title {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		border-radius: 1.6rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		grid-column: 1 / 5;
		grid-row: 1 / 2;
		z-index: 1;
	}
	&__title p {
		color: white;
		margin: 0;
		-webkit-padding-end: 0.7rem;
		padding-inline-end: 0.7rem;
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		-webkit-writing-mode: vertical-rl;
		-ms-writing-mode: tb-rl;
		writing-mode: vertical-rl;
	}

	&__content {
		border-radius: 1.6rem;
		grid-column: 2 / 5;
		grid-row: 1 / 2;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		z-index: 2;
		padding: 0.5rem;
	}

	&__time {
		font-size: 2.4rem;
		font-weight: 600;
		margin: 0;
	}
	&__caption {
		margin: 0;
		-ms-flex-item-align: start;
		align-self: flex-start;
	}
}
