* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  margin: 0;
  background-image: -o-linear-gradient(left bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-image: -webkit-gradient(linear, left bottom, right top, from(#d16ba5), color-stop(#c777b9), color-stop(#ba83ca), color-stop(#aa8fd8), color-stop(#9a9ae1), color-stop(#8aa7ec), color-stop(#79b3f4), color-stop(#69bff8), color-stop(#52cffe), color-stop(#41dfff), color-stop(#46eefa), to(#5ffbf1));
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

.wrapper {
  block-size: 100%;
}

.content {
  display: grid;
  place-items: center;
  block-size: 100%;
}

.glassmorphism-effect, .bubble, .container, .goals,
.planner, .card,
.card__content {
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.37);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 1.6rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.padding-box, .goals,
.planner {
  padding: 2.4rem;
}

.goal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.goal__icon {
  inline-size: 3.4rem;
  block-size: 3.4rem;
  background-image: url("../assets/goal_icon.png");
  background-position: center;
  background-size: cover;
  background-origin: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  padding: 1rem;
  -webkit-margin-end: 1rem;
  margin-inline-end: 1rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  block-size: 10rem;
  inline-size: 100%;
  position: relative;
  -webkit-margin-after: 2rem;
  margin-block-end: 2rem;
}
.card__title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 1/5;
  grid-row: 1/2;
  z-index: 1;
  text-shadow: 0px 0px 4px black;
}
.card__title p {
  color: white;
  margin: 0;
  -webkit-padding-end: 0.7rem;
  padding-inline-end: 0.7rem;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
.card__content {
  border-radius: 1.6rem;
  grid-column: 2/5;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 2;
  padding: 0.5rem;
}
.card__time {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0;
}
.card__caption {
  margin: 0;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.goals > div:first-of-type,
.planner > div:first-of-type {
  -webkit-border-after: 1px solid white;
  border-block-end: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-margin-after: 1rem;
  margin-block-end: 1rem;
}

.goals__title,
.planner__title {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 0;
}
.goals__description,
.planner__description {
  -webkit-margin-after: 3rem;
  margin-block-end: 3rem;
  -webkit-border-after: 1px solid white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  block-size: 90vh;
  inline-size: calc(80% - 20px);
  padding: 2.4rem;
}

.bubble {
  border-radius: 50%;
  z-index: -1;
}

.bubble-one {
  inline-size: 20rem;
  block-size: 20rem;
  position: absolute;
  inset-block-start: -6rem;
  inset-inline-end: 20rem;
}

.bubble-two {
  inline-size: 4rem;
  block-size: 4rem;
  position: absolute;
  inset-block-start: -1rem;
  inset-inline-end: 45rem;
}

.bubble-three {
  inline-size: 6rem;
  block-size: 6rem;
  position: absolute;
  inset-block-start: 1rem;
  inset-inline-start: 30rem;
}

.bubble-four {
  inline-size: 8rem;
  block-size: 8rem;
  position: absolute;
  inset-block-end: 3rem;
  inset-inline-start: -2rem;
}

/*# sourceMappingURL=styles.css.map */
