* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  margin: 0;
  background: #aeeeb4;
  background: -o-radial-gradient(circle, #aeeeb4 0%, #94c3e9 100%);
  background: radial-gradient(circle, #aeeeb4 0%, #94c3e9 100%);
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

p::-moz-selection,
h2::-moz-selection,
span::-moz-selection {
  background-color: white;
}

p::-moz-selection, h2::-moz-selection, span::-moz-selection {
  background-color: white;
}

p::selection,
h2::selection,
span::selection {
  background-color: white;
}

.wrapper {
  block-size: 100%;
}

.content {
  display: grid;
  place-items: center;
  block-size: 100%;
}

.glassmorphism-effect, .bubble, .goals,
.planner, .card,
.card__content, .container {
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.37);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 1.6rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.padding-box, .goals,
.planner {
  padding: 2.4rem;
}

@media screen and (max-width: 768px) {
  .glassmorphism-effect, .bubble, .goals,
.planner, .card,
.card__content, .container {
    -webkit-box-shadow: 0 0.6rem 2.2rem 0 rgba(31, 38, 135, 0.37);
    box-shadow: 0 0.6rem 2rem 0 rgba(31, 38, 135, 0.37);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 1.4rem;
  }
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  block-size: max(90vh, 100%);
  max-block-size: 100%;
  inline-size: min(1077px, 100%);
  padding: 2.4rem;
}

.goal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.goal__icon {
  inline-size: 3.4rem;
  block-size: 3.4rem;
  background-image: url("../assets/goal_icon.png");
  background-position: center;
  background-size: cover;
  background-origin: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  padding: 1rem;
  -webkit-margin-end: 1rem;
  margin-inline-end: 1rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  block-size: 10rem;
  inline-size: 100%;
  position: relative;
  -webkit-margin-after: 2rem;
  margin-block-end: 2rem;
}
.card__title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 1/5;
  grid-row: 1/2;
  z-index: 1;
  text-shadow: 0px 0px 4px black;
}
.card__title p {
  color: white;
  margin: 0;
  -webkit-padding-end: 0.7rem;
  padding-inline-end: 0.7rem;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
.card__content {
  border-radius: 1.6rem;
  grid-column: 2/5;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 2;
  padding: 0.5rem;
}
.card__time {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0;
}
.card__caption {
  margin: 0;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.goals > div:first-of-type,
.planner > div:first-of-type {
  -webkit-border-after: 1px solid white;
  border-block-end: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-margin-after: 1rem;
  margin-block-end: 1rem;
}

.goals__title,
.planner__title {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 0;
}
.goals__description,
.planner__description {
  -webkit-margin-after: 3rem;
  margin-block-end: 3rem;
  -webkit-border-after: 1px solid white;
}

.bubble {
  border-radius: 50%;
  z-index: -1;
}

.bubble-one {
  inline-size: 20rem;
  block-size: 20rem;
  position: absolute;
  inset-block-start: -6rem;
  inset-inline-end: 20rem;
}

.bubble-two {
  inline-size: 4rem;
  block-size: 4rem;
  position: absolute;
  inset-block-start: -1rem;
  inset-inline-end: 45rem;
}

.bubble-three {
  inline-size: 6rem;
  block-size: 6rem;
  position: absolute;
  inset-block-start: 1rem;
  inset-inline-start: 30rem;
}

.bubble-four {
  inline-size: 8rem;
  block-size: 8rem;
  position: absolute;
  inset-block-end: 3rem;
  inset-inline-start: -2rem;
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    block-size: 100%;
  }

  .container {
    display: initial;
  }

  .planner {
    -webkit-margin-before: 4rem;
    margin-block-start: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .calendar {
    display: block;
  }

  .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    gap: 2rem;
    white-space: nowrap;
    overflow-x: scroll;
    padding: 1.5rem;
  }

  .card {
    max-inline-size: 18rem;
  }

  .card__title {
    -webkit-margin-start: 1rem;
    margin-inline-start: 1rem;
  }
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #a8a6a8;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #878587;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0px;
  -webkit-box-shadow: inset 0px 0px 0px 0px #f0f0f0;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}

p::-moz-selection,
h2::-moz-selection,
span::-moz-selection {
  background-color: white;
}

/*# sourceMappingURL=styles.css.map */
